@model DogGo.Models.Walker

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Walker Profile</h4>
    <hr />
    <div class="row">
            <div>
                <img class="bg-info" src="@Model.ImageUrl" style="width:100px;float:left;margin-right:20px" />
            </div>
        <section class="container">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Neighborhood)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Neighborhood.Name)
            </div>


        </section>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = */ }) |
    <a asp-action="Index">Back to List</a>
</div>
